.vscode/*
/E17/.vscode/*
/E17/obj/*
/E17/bin/*
/E19/.vscode/*
/E19/obj/*
/E19/bin/*
/Funzioni/.vscode/*
/Funzioni/obj/*
/Funzioni/bin/*
/Matrici/.vscode/*
/Matrici/obj/*
/Matrici/bin/*
/HelloWorld/.vscode/*
/HelloWorld/obj/*
/HelloWorld/bin/*
/Classi/.vscode/*
/Classi/obj/*
/Classi/bin/*
auth